# Telegram
BOT_TOKEN=
ADMIN_IDS=

# NEXA
NEXA_CHANNEL=@Nexa_CG
NEXA_CHANNEL_URL=https://t.me/Nexa_CG

# Backblaze B2
B2_BUCKET=
B2_ENDPOINT=
B2_KEY_ID=
B2_APPLICATION_KEY=
B2_PREFIX=dash-renamer
B2_RETENTION=false

# Telegram Local Bot API
# Laisser false sur Render si aucun Local Bot API Server n'est installé.
TELEGRAM_LOCAL_API=false

# Base de données
DB_PATH=/app/data/dash.sqlite3

# Render
# WEBHOOK_URL peut être laissé vide : le code utilise RENDER_EXTERNAL_URL.
WEBHOOK_URL=
WEBHOOK_PATH=telegram
